.la-mia-formazione{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.descrizione{
    list-style-type: none;
    line-height: 1.7;
    letter-spacing: 1px;
    text-align: justify;
    margin-right: 20px;
}

.descrizione li{
    margin-bottom: 10px;
}