
.App{
    background-color: #f4f3ee;
    background-color: #f6f9fc;
    background-color: #f8e7f1;
    background-color: #f3f3f3;


}

hr {
    width: 50%; /* Larghezza della linea di divisione */
    border: 1px solid #ccc; /* Colore e stile del bordo della linea di divisione */
    margin: 20px auto; /* Margine superiore e inferiore 20px, e margin:auto per centrare orizzontalmente */
  }